@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #010413dc;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}

.card {
  background-color: #010413cb;
  padding: 1rem;
  min-height: 75vh;
  width: 40%;
  border-radius: 5px;
  overflow: auto;
}

.card .card_title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(87, 146, 255);
}

.card form {
  display: flex;
  gap: 1rem;
}

.card #input_todo {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 3px;
}

.card .submit_btn {
  padding: 10px 1rem;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  background-color: rgb(25, 97, 231);
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.card .submit_btn:hover {
  background-color: rgb(95, 146, 240);
}

.card #lists {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card #lists li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(25, 97, 231);
  padding: 8px 10px;
  border-radius: 5px;
}

.card #lists li .todo_title {
  font-weight: 400;
}

.card #lists li .delete_btn {
  border: none;
  background-color: #010413cb;
  padding: 7px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.card #lists li .delete_btn:hover {
  background-color: #0a102fcb;
}

#message {
  padding: 8px;
  font-weight: 700;
  margin: 1rem 0;
  display: none;
  transition: display 0.8s;
}

.message-success {
  background-color: rgb(163, 245, 163);
  color: rgb(2, 108, 2);
  border-left: 6px solid rgb(1, 92, 1);
}

.message-delete {
  background-color: rgb(245, 163, 163);
  color: rgb(169, 0, 0);
  border-left: 6px solid rgb(169, 0, 0);
}

@media (width < 768px) {
  .container {
    align-items: flex-start;
  }

  .card {
    width: 100%;
  }
}
